src/main/mule/munits.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:snowflake="http://www.mulesoft.org/schema/mule/snowflake"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/snowflake http://www.mulesoft.org/schema/mule/snowflake/current/mule-snowflake.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c80ba903-bbfa-4d01-a88d-9929972051b9" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<snowflake:snowflake-config name="Snowflake_Config" doc:name="Snowflake Config" doc:id="bed242d7-4e8c-4db4-80f8-1df9dcecf7dc" >
		<snowflake:snowflake-connection accountName="qx97306.ap-southeast-1" warehouse="compute_wh" database="loan_application" schema="public" user="mycreditunion" password="Deloitte@123" role="accountadmin" />
	</snowflake:snowflake-config>
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="5b18b438-0b54-4b90-9964-d97e7eb93731" >
		<email:smtp-connection host="smtp.gmail.com" port="587" user="sarthaksingh0900@gmail.com" password="rmvfsgkcdtiywjqh" >
			<email:properties >
				<email:property key="mail.smtp.starttls.enable" value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="57b330b1-9172-4ba5-b986-a65a6403fd09" >
		<http:listener-connection host="0.0.0.0" port="8085" />
	</http:listener-config>
	<flow name="munitsFlow" doc:id="85542eb6-0bd3-41d0-bd6f-8e002261b7b4" >
		<http:listener doc:name="Listener" doc:id="dc5ddadf-d6d8-4f7a-ad2a-a348ed38adcc" config-ref="HTTP_Listener_config" path="/">
			<http:response >
				<http:body ><![CDATA[#[output application/json --- payload]]]></http:body>
			</http:response>
		</http:listener>
		<snowflake:select doc:name="Select" doc:id="b08a3a24-9923-4a73-82f5-de3793f71313" config-ref="Snowflake_Config">
			<snowflake:sql ><![CDATA[select * from "LOAN_APPLICATION"."PUBLIC"."CUSTOMER_REGISTRATION";]]></snowflake:sql>
		</snowflake:select>
		<choice doc:name="Choice" doc:id="f21586bb-0b13-434c-ba34-6b5c0bd4b178" >
			<when expression="#[isEmpty(payload)]">
				<set-payload value='#[%dw 2.0&#10;output application/java&#10;---&#10;{&#10;	"success":"false",&#10;	"response":"It is empty"&#10;}]' doc:name="Set Payload" doc:id="29cc2e4d-12d3-4415-9954-d621f15e8789" />
			</when>
			<otherwise >
				<set-payload value='#[%dw 2.0&#10;output application/java&#10;---&#10;{&#10;	"success":"true",&#10;	"response":"data found"&#10;}]' doc:name="Set Payload" doc:id="97b6f750-3787-4a0e-9420-14d6aca2e750" />
			</otherwise>
		</choice>
	</flow>
</mule>
